{
  auto_https off
}

:80 {

  @prefect path /prefect /prefect/*

  handle @prefect {
    uri strip_prefix /prefect
    reverse_proxy prefect:4200
  }

  @auth path /auth /auth/*
  handle @auth {
    reverse_proxy keycloak:8080
  }

  @grafana path /grafana /grafana/*
  handle @grafana {
    reverse_proxy grafana:3000
  }

  @api path /api /api/*
  handle @api {
    reverse_proxy api:8000
  }

  handle {
    reverse_proxy frontend:80
  }
}
