{
  auto_https off
}

:80 {

  # -------------------------
  # Keycloak
  # -------------------------
  redir /auth /auth/ 308
  handle /auth/* {
    reverse_proxy keycloak:8080
  }

  # -------------------------
  # Grafana
  # -------------------------
  redir /grafana /grafana/ 308
  handle /grafana/* {
    reverse_proxy grafana:3000
  }

  # -------------------------
  # Prefect
  # -------------------------
  redir /prefect /prefect/ 308
  handle /prefect/* {
    reverse_proxy prefect:4200
  }

  # -------------------------
  # API
  # -------------------------
  handle /api/* {
    reverse_proxy api:8000
  }

  handle /health {
    reverse_proxy api:8000
  }

  # -------------------------
  # Frontend (LAST)
  # -------------------------
  handle {
    reverse_proxy frontend:80
  }
}
